= form_for @guest, :html => { :class => 'form-horizontal', :remote => @guest.new_record? } do |f|
  #address_results.hide
    %table#addresses.table.table-striped.table-bordered
      %tbody
  .control-group
    = f.label :name, '* Name', :class => 'control-label'
    .controls
      = f.text_field :name, :required => true, :class => 'text_field'
      = link_to 'Lookup Address', '#', :id => 'address_lookup'
  .control-group
    = f.label :invitation_label, :class => 'control-label'
    .controls
      = f.text_field :invitation_label, :class => 'text_field'
      %i.icon-question-sign.icon-large.help-tip{:title => 'The Invitation Label', 'data-content' => I18n.translate('help.guests.invitation_label')}
  .control-group
    = f.label :street, :class => 'control-label'
    .controls
      = f.text_field :street, :class => 'text_field'
  .control-group
    = f.label :city, :class => 'control-label'
    .controls
      = f.text_field :city, :class => 'text_field', :autocomplete => 'off'
  .control-group
    = f.label :state, :class => 'control-label'
    .controls
      = f.select :state, US_STATES, :class => 'text_field span1'
  .control-group
    = f.label :zip, :class => 'control-label'
    .controls
      = f.text_field :zip, :class => 'text_field span1'
      %span.help-inline 5 or 9-digit zip code
  .control-group
    = f.label :size, :class => 'control-label'
    .controls
      = f.number_field :size, :class => 'number_field span1'
  .control-group
    = f.label :kids, :class => 'control-label'
    .controls
      = f.number_field :kids, :class => 'number_field span1'
  .control-group
    .control-label
      = link_to 'Notes', '#', :id => 'guest_notes_toggle'
  #guest_notes_container.control-group.hide
    = f.label :notes, :class => 'control-label'
    .controls
      = f.text_area :notes, :class => 'text_area_field', :rows => 7
  .control-group
    = f.label :family_id, :class => 'control-label'
    .controls
      = f.collection_select :family_id, Family.all, :id, :name, :include_blank => 'Choose a family'
