= form_for @guest, :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.label :first_name, :class => 'control-label'
    .controls
      = f.text_field :first_name, :class => 'text_field'
  .control-group
    = f.label :last_name, :class => 'control-label'
    .controls
      = f.text_field :last_name, :class => 'text_field'
  .control-group
    = f.label :street, :class => 'control-label'
    .controls
      = f.text_field :street, :class => 'text_field'
  .control-group
    = f.label :city, :class => 'control-label'
    .controls
      = f.text_field :city, :class => 'text_field'
  .control-group
    = f.label :state, :class => 'control-label'
    .controls
      = f.text_field :state, :class => 'text_field'
  .control-group
    = f.label :zip, :class => 'control-label'
    .controls
      = f.text_field :zip, :class => 'text_field'
  .control-group
    = f.label :additional_guests, :class => 'control-label'
    .controls
      = f.number_field :additional_guests, :class => 'number_field'
  .control-group
    = f.label :kids, :class => 'control-label'
    .controls
      = f.number_field :kids, :class => 'number_field'
  .control-group
    = f.label :family_id, :class => 'control-label'
    .controls
      = f.number_field :family_id, :class => 'number_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), guests_path, :class => 'btn'
