%tr{:id => "guest_#{guest.id}"}
  %td
    - if guest.notes.present?
      %i.icon-question-sign.need-info{:title => 'Notes/Questions', 'data-content' => simple_format(guest.notes)}
    = link_to guest.invitation_label || guest.name, edit_guest_path(guest), :title => guest.name
  %td= truncate(guest.address)
  %td= guest.size
  %td= guest.additional_guests
  %td= guest.kids
  %td= guest.family.name if guest.family.present?
  %td
    = link_to t('.edit', :default => t("helpers.links.edit")), edit_guest_path(guest), :class => 'btn btn-mini'
    = link_to t('.destroy', :default => t("helpers.links.destroy")), guest_path(guest), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger', :remote => true

