- model_class = Guest
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize
%table#guest-list.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:name)
      %th= model_class.human_attribute_name(:address)
      %th= model_class.human_attribute_name(:size)
      %th= model_class.human_attribute_name(:additional_guests)
      %th= model_class.human_attribute_name(:kids)
      %th= model_class.human_attribute_name(:family_id)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    = render @guests
= link_to t('.new', :default => t("helpers.links.new")), new_guest_path, :class => 'btn btn-primary', :remote => true
