- model_class = Guest
.page-header
  %h1=t '.title', :default => model_class.model_name.human

%p
  %strong= model_class.human_attribute_name(:first_name) + ':'
  %br
  = @guest.first_name
%p
  %strong= model_class.human_attribute_name(:last_name) + ':'
  %br
  = @guest.last_name
%p
  %strong= model_class.human_attribute_name(:street) + ':'
  %br
  = @guest.street
%p
  %strong= model_class.human_attribute_name(:city) + ':'
  %br
  = @guest.city
%p
  %strong= model_class.human_attribute_name(:state) + ':'
  %br
  = @guest.state
%p
  %strong= model_class.human_attribute_name(:zip) + ':'
  %br
  = @guest.zip
%p
  %strong= model_class.human_attribute_name(:additional_guests) + ':'
  %br
  = @guest.additional_guests
%p
  %strong= model_class.human_attribute_name(:kids) + ':'
  %br
  = @guest.kids
%p
  %strong= model_class.human_attribute_name(:family_id) + ':'
  %br
  = @guest.family_id

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), guests_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_guest_path(@guest), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), guest_path(@guest), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
