= f.fields_for :guests, guest do |guests_fields|
  .form-group
    = guests_fields.label :name, 'Guest Name'
    = guests_fields.text_field :name, class: 'form-control'
    = link_to 'Lookup Address', '#', class: 'address_lookup'
    - if guest.persisted?
      = guests_fields.label :_destroy do
        = guests_fields.check_box :_destroy
        Delete
