.jumbotron
  %h2 Set Up Your Wedding
  = form_for @wedding do |f|
    %p
      = f.fields_for :bride do |bride_fields|
        = bride_fields.text_field :name, placeholder: 'Bride Name'
    %p
      = f.fields_for :groom do |groom_fields|
        = groom_fields.text_field :name, placeholder: 'Groom Name'
    %p
      = f.text_field :wedding_date, placeholder: 'Wedding Date'

    = f.submit 'Continue', class: 'btn'
