<div class="navbar navbar-fluid-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">FarmlyWed</a>
      <div class="container-fluid nav-collapse">
        <ul class="nav pull-right">
          <li>
          <%= form_tag search_path, remote: true do %>
            <%= text_field_tag :query, nil, placeholder: 'Search', data: {provide: 'typeahead'}, autocomplete: 'off' %>
          <% end %>
          </li>
          <li>
          <%= link_to invitations_path do %>
            <span class="icon icon-list"></span>
            Invitations
          <% end %>
          </li>
          <li>
          <%= link_to new_invitation_path do %>
            <span class="icon icon-plus-sign"></span>
            New Invitation
          <% end %>
          </li>
          <li>
          <%= link_to destroy_user_session_path, :method => :delete do %>
            <span class="icon icon-off"></span>
            Sign Out
          <% end %>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
